body {
  background-image: url("/Users/wesleymizutani/projects/codefellows/code201/about-me/img/ireland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aphrodite {
  width:500px;
  height:200px;
  float: left;
  padding-right: 20px;
}

h1 {
  font-style: oblique;
  color: blueviolet;
  word-wrap: normal;
  font-size: 4em;
  list-style: disc;
  margin: 1rem;
  background-color: beige;
  border-color:cadetblue;
  text-align: center;
  border-style: outset;
  border-width: thick;
}

.firstsection {
  font-style: oblique;
  color: blueviolet;
  font-size: 30px;
  list-style: disc;
  margin: 2rem;
  background-color: beige;
  border-color: cadetblue;
  text-align: justify;
  border-style: outset;
  border-width: thick;
  padding: 10px 10px 10px 10px;
  height: 200px;
  clear: both;
}

.secondsection {
  font-style: oblique;
  color: blueviolet;
  font-size: 30px;
  margin: 4rem;
  width: max-content;
  background-color: beige;
  border-color: cadetblue;
  border-style: outset;
  border-width: thick;
  padding: 10px 10px 10px 10px;
  height: 100%;
  list-style: decimal;
  align-items: center;
  clear: both;
  text-align: center;
}

.destination {
  list-style-type: decimal;
  list-style-position: inherit;
  width: max-content;
  margin: 3rem;
  clear: both;
}

li {
  text-align: center;
  width: max-content;
}

.aboutme { list-style: disc;
  margin: 3rem;
  font-style: oblique;
  font-size: 1em;
  color:darkgrey;
  background-color: beige;
  text-align: justify;
  padding: 10px 10px 10px 10px;
  clear: both;
}

h2 {
  text-align: center;
}